<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    {% include 'details/navbar.html' %}
    <div class="max-w-5xl mx-auto">
        
        {% block content %}

        {% endblock %}
     
    </div>
    {% include 'details/footer.html' %} 
</body>
</html>