{% extends 'base.html' %}

{% block title %}Mijoz ma'lumotlari {% endblock %}

{% block content %}

{% load static %}

<section class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{% static 'images/crm.svg' %}">
    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">SUSYS CRM SYSTEM</h1>
      <p class="mb-8 leading-relaxed">Ushbu maxsus platforma video darslar sifatida maxsus SUSYS jamoasi uchun tayyorlandi. Kursga yozilish uchun adminga murojaat qiling.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}