{% load static %}
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="{% static 'images/logo.png' %}" style="width: 80px;" alt="Logo">
    </a> 
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a href="/" class="mr-5 hover:text-gray-900">Asosiy</a>

    {% if not request.user.is_authenticated %}
      </nav>
        <button class="inline-flex items-center bg-blue-300 border-0 py-1 px-3 focus:outline-none hover:bg-blue-200 rounded text-base mt-4 md:mt-0" style="margin-right: 20px">
          <a  href="{% url 'signup' %}">Ro'yxatdan o'tish
          </a>
        </button>
      {% else %}
      {% if request.user.is_organisor %}
        <a href="/agents/" class="mr-5 hover:text-gray-900">Agentlar</a>
      {% endif %}
        <a href="/leads/" class="mr-5 hover:text-gray-900">Mijozlar</a>
      </nav>
    {% endif %} 

    {% if request.user.is_authenticated %}
      Foydalanuvchi: {{ request.user.username }}
      <button class="ml-3 inline-flex items-center bg-blue-300 border-0 py-1 px-3 focus:outline-none hover:bg-blue-200 rounded text-base mt-4 md:mt-0">
        <a  href="{% url 'logout' %}">Chiqish
        </a>
      </button>
    {% else %}
    <button class="inline-flex items-center bg-blue-300 border-0 py-1 px-3 focus:outline-none hover:bg-blue-200 rounded text-base mt-4 md:mt-0">
      <a href="{% url 'login' %}">Kirish
    </a>
    </button>
    {% endif %}
    
  </div>
</header>